.gutenberg .editor-plain-text.top-text,
.top-text {
  color: white;
  font-family: impact, helvetica, sans-serif;
  font-size: 50px;
  position: absolute;
  text-align: center;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;

  &::placeholder {
    color: white;
    font-size: 24px;
  }
}

.meme-div {
	height: 300px;
	position: relative;
	width: 300px;
}

.meme-image {
	height: 300px;
	width: 300px;
}
